Flask>=3.0.0
PyMySQL>=1.1.0
Werkzeug>=3.0.0
requests>=2.31.0
python-dotenv>=1.0.0
firebase-admin>=6.5.0
pyotp>=2.9.0
qrcode[pil]>=7.4.2
Pillow>=10.0.0
Flask-Limiter>=3.5.0
apscheduler>=3.10.0
pytz>=2024.1
reportlab>=4.0.0
gunicorn
